<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

</head>

<body class="bg-main">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="d-iline-block bg-info text-white py-2 px-3 rounded">
                    <i class="fa-solid fa-book-open "></i>
                </div>
                <a class="navbar-brand ms-3 fw-bold" href="#">LEARNING</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <div class="me-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#">Testimonial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#">Contact</a>
                        </li>
                        <button type="button" class="btn btn-outline-primary mx-3 px-4">Login</button>
                        <button type="button" class="btn btn-primary">Registar</button>


                    </ul>
                </div>
            </div>
        </nav>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-5">
                    <h1 class="fw-bolder text-size-lg">Learn more and make success the result</h1>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <div class="text-info bg-white d-inline-block rounded py-1 px-2 m-0">-The best E-learning Platform
                    </div>
                    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore sit in ut qui
                        debitis
                        vitae sed, quas cupiditate. Possimus nesciunt officia obcaecati magni reiciendis minima quas
                        pariatur?
                        Harum, deserunt neque.</p>
                    <button type="button" class="btn btn-primary">Show all course</button>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-lg-10">
                    <img src="/assets/Untitled.png" class="rounded" alt="">
                </div>
                <div class="col-lg-2 text-center d-flex  align-items-center">
                    <div>
                        <div class="">
                            <h1 class="text-info ">+15</h1>
                            <p class="text-muted text-size-sm"> color sit, amet consectetur adipisicing elit. Labore sit
                                in ut qui
                                debitis vitae dfdfsed, quas c</p>
                        </div>
                        <div class="">
                            <h1 class="text-info ">5K+</h1>
                            <p class="text-muted text-size-sm"> color sit, amet consectetur adipisicing elit. Labore sit
                                in ut qui
                                debitis vitae dfdfsed, quas c</p>
                        </div>
                        <div class="">
                            <h1 class="text-info ">1,5K+</h1>
                            <p class="text-muted text-size-sm"> color sit, amet consectetur adipisicing elit. Labore sit
                                in ut quidebitis vitae dfdfsed, quas c</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="feature">
            <div class="container-fluid">
                <div class="d-flex justify-content-center ">
                    <div class="text-center mb-5 header-feature">
                        <h1 class="fw-bold">
                            Ours featured courses
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ut porro dolorum ullam.
                            Consectetur sint
                        </p>
                    </div>
                </div>
                <div class="row px-4">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="bg-white a-feature p-2 rounded">

                            <div class="img-feature ">
                                <img src="/assets/feature-1.png" class="img-fluid rounded" alt="">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <div class="bg-main px-4 py-2  rounded text-size-sm ">
                                    Development
                                </div>
                                <h3 class="text-info fw-bold text-size-sm ">$255</h3>
                            </div>
                            <div>
                                <p class="fw-bold">
                                    Become professtional designer bewwith passtion & dignity
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-size-sm">
                                <div>
                                    <i class="fa-solid fa-book-open "></i>
                                    <p class="d-inline-block text-muted ">20 lesstion</p>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="text-muted d-inline-block"> 273 student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center text-size-15">
                                <div class="">
                                    <div class="text-muted d-inline-block">5.0</div>
                                    <div class="d-inline-block text-info">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="text-muted d-inline-block">(2,589)</div>

                                </div>
                                <div class="bg-main rounded-circle">
                                    <i class="fa-solid fa-arrow-right p-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="bg-white a-feature p-2 rounded">

                            <div class="img-feature ">
                                <img src="/assets/feature-2.png" class="img-fluid rounded" alt="">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <div class="bg-main px-4 py-2  rounded text-size-sm ">
                                    Development
                                </div>
                                <h3 class="text-info fw-bold text-size-sm ">$255</h3>
                            </div>
                            <div>
                                <p class="fw-bold">
                                    Become professtional designer bewwith passtion & dignity
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-size-sm">
                                <div>
                                    <i class="fa-solid fa-book-open "></i>
                                    <p class="d-inline-block text-muted ">20 lesstion</p>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="text-muted d-inline-block"> 273 student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center text-size-15">
                                <div class="">
                                    <div class="text-muted d-inline-block">5.0</div>
                                    <div class="d-inline-block text-info">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="text-muted d-inline-block">(2,589)</div>

                                </div>
                                <div class="bg-main rounded-circle">

                                    <a href="#">
                                        <i class="fa-solid fa-arrow-right p-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="bg-white a-feature p-2 rounded">

                            <div class="img-feature ">
                                <img src="/assets/feature-3.png" class="img-fluid rounded" alt="">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <div class="bg-main px-4 py-2  rounded text-size-sm ">
                                    Development
                                </div>
                                <h3 class="text-info fw-bold text-size-sm ">$255</h3>
                            </div>
                            <div>
                                <p class="fw-bold">
                                    Become professtional designer bewwith passtion & dignity
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-size-sm">
                                <div>
                                    <i class="fa-solid fa-book-open "></i>
                                    <p class="d-inline-block text-muted ">20 lesstion</p>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="text-muted d-inline-block"> 273 student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center text-size-15">
                                <div class="">
                                    <div class="text-muted d-inline-block">5.0</div>
                                    <div class="d-inline-block text-info">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="text-muted d-inline-block">(2,589)</div>

                                </div>
                                <div class="bg-main rounded-circle">
                                    <i class="fa-solid fa-arrow-right p-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row px-4 my-4">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="bg-white a-feature p-2 rounded">

                            <div class="img-feature ">
                                <img src="/assets/feature-1.png" class="img-fluid rounded" alt="">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <div class="bg-main px-4 py-2  rounded text-size-sm ">
                                    Development
                                </div>
                                <h3 class="text-info fw-bold text-size-sm ">$255</h3>
                            </div>
                            <div>
                                <p class="fw-bold">
                                    Become professtional designer bewwith passtion & dignity
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-size-sm">
                                <div>
                                    <i class="fa-solid fa-book-open "></i>
                                    <p class="d-inline-block text-muted ">20 lesstion</p>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="text-muted d-inline-block"> 273 student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center text-size-15">
                                <div class="">
                                    <div class="text-muted d-inline-block">5.0</div>
                                    <div class="d-inline-block text-info">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="text-muted d-inline-block">(2,589)</div>

                                </div>
                                <div class="bg-main rounded-circle">
                                    <i class="fa-solid fa-arrow-right p-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="bg-white a-feature p-2 rounded">

                            <div class="img-feature ">
                                <img src="/assets/feature-2.png" class="img-fluid rounded" alt="">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <div class="bg-main px-4 py-2  rounded text-size-sm ">
                                    Development
                                </div>
                                <h3 class="text-info fw-bold text-size-sm ">$255</h3>
                            </div>
                            <div>
                                <p class="fw-bold">
                                    Become professtional designer bewwith passtion & dignity
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-size-sm">
                                <div>
                                    <i class="fa-solid fa-book-open "></i>
                                    <p class="d-inline-block text-muted ">20 lesstion</p>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="text-muted d-inline-block"> 273 student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center text-size-15">
                                <div class="">
                                    <div class="text-muted d-inline-block">5.0</div>
                                    <div class="d-inline-block text-info">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="text-muted d-inline-block">(2,589)</div>

                                </div>
                                <div class="bg-main rounded-circle">

                                    <a href="#">
                                        <i class="fa-solid fa-arrow-right p-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="bg-white a-feature p-2 rounded">

                            <div class="img-feature ">
                                <img src="/assets/feature-3.png" class="img-fluid rounded" alt="">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <div class="bg-main px-4 py-2  rounded text-size-sm ">
                                    Development
                                </div>
                                <h3 class="text-info fw-bold text-size-sm ">$255</h3>
                            </div>
                            <div>
                                <p class="fw-bold">
                                    Become professtional designer bewwith passtion & dignity
                                </p>
                            </div>
                            <div class="d-flex justify-content-between text-size-sm">
                                <div>
                                    <i class="fa-solid fa-book-open "></i>
                                    <p class="d-inline-block text-muted ">20 lesstion</p>
                                </div>
                                <div class="">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="text-muted d-inline-block"> 273 student</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center text-size-15">
                                <div class="">
                                    <div class="text-muted d-inline-block">5.0</div>
                                    <div class="d-inline-block text-info">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="text-muted d-inline-block">(2,589)</div>

                                </div>
                                <div class="bg-main rounded-circle">
                                    <i class="fa-solid fa-arrow-right p-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>


        <section class="landing-page">
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-lg-6 px-5 ">
                        <h1 class="fw-bold">We Make Your learning Through Owesome</h1>
                        <p class="text-muted mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic
                            necessitatibus autem natus. Esse, voluptate alias. Et a molestias officiis distinctio
                            perferendis magnam? Molestiae et beatae ad, numquam ab voluptatibus.</p>
                        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi sit
                            pariatur magnam sequi ipsum asperiores iste, fuga consequatu</p>
                        <div class="d-flex mt-5">
                            <div class="text-center me-4">
                                <h1 class="text-info ">15k+</h1>
                                <p>Student</p>
                            </div>
                            <div class="text-center me-4">
                                <h1 class="text-info ">125+</h1>
                                <p>Courses</p>
                            </div>
                            <div class="text-center">
                                <h1 class="text-info ">200+</h1>
                                <p>Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-5 ">
                        <div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-video fa-3x bg-warning  p-4 text-white rounded-x2 me-3"></i>
                                <div>
                                    <a href="#" class="m-0 p-0 d-block text-dark fw-bold text-decoration-none">Over
                                        5.8k</a>
                                    <a href="#" class="mb-0 pb-0 d-block text-dark fw-bold text-decoration-none">Videos
                                        Courses</a>
                                </div>
                            </div>
                            <p class="text-muted my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                                quos mollitia minus tenetur officiis molestias optio amet tempore reiciendis odit sint
                                rerum corporis reprehenderit asperiores ex, veniam praesentium quis architecto.</p>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-medal fa-3x bg-violet  p-4 text-white rounded-x2 me-3"></i>
                                <div>
                                    <a href="#" class="m-0 p-0 d-block text-dark fw-bold text-decoration-none">World
                                        best</a>
                                    <a href="#"
                                        class="mb-0 pb-0 d-block text-dark fw-bold text-decoration-none">Instructor
                                        Courses</a>
                                </div>
                            </div>
                            <p class="text-muted my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                                quos mollitia minus tenetur officiis molestias optio amet tempore reiciendis odit sint
                                rerum corporis reprehenderit asperiores ex, veniam praesentium quis architecto.</p>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-check fa-3x bg-info  p-4 text-white rounded-x2 me-3"></i>
                                <div>
                                    <a href="#" class="m-0 p-0 d-block text-dark fw-bold text-decoration-none">Over
                                        20k</a>
                                    <a href="#" class="mb-0 pb-0 d-block text-dark fw-bold text-decoration-none">Active
                                        Student</a>
                                </div>
                            </div>
                            <p class="text-muted my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                                quos mollitia minus tenetur officiis molestias optio amet tempore reiciendis odit sint
                                rerum corporis reprehenderit asperiores ex, veniam praesentium quis architecto.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-fluid px-5 mt-5 mb-2">
            <div class="head-footer row py-5 rounded-x2 mb-5">
                <div class="  col-lg-6 text-white d-flex align-items-center">
                    <div class="ms-4">
                        <h1 class="mb-4"> Ready to join...</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quasi repellat doloremque
                            suscipit ipsu</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <a href="" class="bg-white text-dark p-4 text-decoration-none rounded-x2 fw-bold">Register now</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 pe-5">
                    <div class="d-flex align-items-center">
                        <div class="d-iline-block bg-info text-white py-2 px-3 rounded">
                            <i class="fa-solid fa-book-open "></i>
                        </div>
                        <h6 class="mb-0 ms-3 fw-bold">LEARNING</h6>
                    </div>
                    <div>
                        <p class="text-size-sm my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                            facere error veniam voluptatum in eligendi magnam, provident consect</p>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 d-flex justify-content-between align-items-center">
                            <i class="fa-brands fa-facebook-f fw-bold m-0 p-0"></i>
                            <h5 class="text-info fw-bold m-0 p-0">in</h5>
                            <i class="fa-brands fa-instagram fw-bold m-0 p-0"></i>
                            <h5 class="fw-bold m-0 p-0">P</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h5 class="fw-bold pb-4">Category</h5>
                    <p class="text-size-sm py-1 m-0">Privacy & Poilicy</p>
                    <p class="text-size-sm py-1 m-0">Term & Condition</p>
                    <p class="text-size-sm py-1 m-0">Customer Support</p>
                    <p class="text-size-sm py-1 m-0">For Business</p>
                    <p class="text-size-sm py-1 m-0">Support</p>

                </div>
                <div class="col-lg-2">
                    <h5 class="fw-bold pb-4">Useful Links</h5>
                    <p class="text-size-sm py-1 m-0">About Us</p>
                    <p class="text-size-sm py-1 m-0">Refer A Friend</p>
                    <p class="text-size-sm py-1 m-0">Scolarship</p>
                    <p class="text-size-sm py-1 m-0">Maketing</p>
                    <p class="text-size-sm py-1 m-0">Free courses</p>

                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 ps-5">
                    <h5 class="fw-bold pb-4">Contact Us</h5>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-phone me-4 "></i>
                        <p class="text-size-sm py-1 m-0 d-iline-block">0123456789</p>

                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-location-dot me-4"></i>
                        <p class="text-size-sm py-1 m-0 d-iline-block">Thanh Ha - Hai Duong</p>

                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-envelope me-4"></i>
                        <p class="text-size-sm py-1 m-0 d-iline-block">abc@gmail.com</p>

                    </div>

                </div>
            </div>
            <div class="text-center">
                <hr class="style-hr d-inline-block">
            </div>
            <p class="text-muted text-size-sm text-center">
                @Copyright 2021 Softfounder (www.founder.com)  Email: acb@gmail.com
            </p>
        </div>
    </footer>
</body>

</html>